<section>
  <h3>Cadastro de Autores</h3>
  <form [formGroup]="autorForm" (ngSubmit)="addAutor()">
    <div><input type="text" placeholder="Nome" formControlName="name" /></div>
    <div>
      <input
        type="string"
        placeholder="Digite o nome do Autor"
        formControlName="nome"
      />
    </div>
    <div>
      <input
        type="string"
        placeholder="Digite a descrição"
        formControlName="descrição"
      />
    </div>
    <button [disabled]="!autorForm.valid">Adicionar</button>
  </form>
</section>

<hr />

<section>
  <h3>Autores Cadastrados</h3>
  <ul>
    <li *ngFor="let autor of autor$ | async">
      <p [routerLink]="['autor', autor.id]"
        >{{ autor.nome }} | {{ autor.descricao }}
      </p>
    </li>
  </ul>
</section>
