<app-navegacao></app-navegacao>

<h1>Usuarios</h1>
<!-- <a routerLink="/cadastros/usuarios">Ahoy</a> -->
<section>
  <h3>Cadastro de Usuários</h3>
  <form [formGroup]="usuarioForm" (ngSubmit)="addUsuario()">
    <!-- <div><input type="text" placeholder="Nome" formControlName="nome" /></div> -->
    <div>
      <input type="string" placeholder="Digite o nome do usuário" formControlName="nome" />
    </div>
    <div>
      <input type="string" placeholder="Digite o e-mail do usuário" formControlName="email" />
    </div>
    <button [disabled]="!usuarioForm.valid">Adicionar</button>
  </form>
</section>

<hr />

<section>
  <h3>Usuários Cadastrados</h3>
  <ul>
    <li *ngFor="let usuario of usuarios$ | async">
      <p [routerLink]="[usuario.id]">{{ usuario.nome }} | {{ usuario.email }}</p>
    </li>
  </ul>
</section>
